* {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    color:rgb(65, 60, 60);
}

h1 {
    font-weight: 600;
    font-size: 2vw;
}

h2 {
    font-weight: 500;
    font-size: 1.8vw;
}

p {
    font-size: 1.2vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.rps-choice {
    width: 100%;
    height: auto;
}

.selection-buttons {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 3vh 0;
}

.game-choice {
    border: none;  
    border-radius: 5px;
    display: "flex";
}

.game-choice h2 {
    padding: 10px 40px;
}

.human {
    text-align: center;
    transform: scaleX(-1); /* flip horizontally */
}

.computer {
    text-align: center;
}

.hands {
    /* width: 60vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh 0;
    gap: 4vw;
}

.results {
    background-color: #e9e9ed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48vw;
    border-radius: 5px;
    padding: 1vw;
    margin-bottom: 2vw;
}

.rps-hand {
    width: auto;
    height: 15vw;
}

.header {
    background-color: rgb(236, 90, 64);
    width: 100%;
    text-align: center;
    color: white;
    padding: 6px;  
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 2.3vw;
}

.selection {
    width: 50vw;
}
